<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <div class='concept'>
      「感動の1枚」を、推そう
    </div>
    <div class='concept'>
      「感動の1枚」を、観に行こう
    </div>
  
    <div class='backgound-explanation'>
      <div class='explanation'>
        雄大な「富士山」「五重塔」「桜」を一目に見ることができ"NIPPON"を体感できると海外からも大絶賛のSPOTです。<br>
        新倉山の中腹にあり、398弾の階段を登るプチ登山の後に見る景色は、一見の価値があります。
      </div>
      <div class='location'>
        山梨県 新倉山浅間公園（4月中旬ごろ）
      </div>
    </div>
  </div>
 
  <div class='item-contents'>

  <div class='posts-map'>
      <%# Google map %>
  <div id='map'></div>

   <style>
#map {
  height: 600px;
  width: 100%;
}
</style>
<script>
    function initMap() {

      //初期表示位置：東京駅
      let latlng = new google.maps.LatLng(35.68114292160832, 139.76699220422807);
      //デザイン
      let styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];

      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,　　//倍率を決める
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);


      <% @posts.each do |post| %>
          (function(){
          var contentString = "タイトル：<%= post.title %>"; // マーカーにポインターを重ねた時に表示する小さい吹き出しの中身を定義

          var marker = new google.maps.Marker({
              position:{lat: <%= post.latitude %>, lng: <%= post.longitude %>},
              map: map,
              title: contentString // 上で定義した吹き出しの中身を呼び出す（title →小さなグレーの吹き出し）
          });
          var contentString = 'タイトル：<%= post.title %><br>撮影地：<%= post.shooting_location %><br>撮影時期:<%= post.shooting_month.name %><%= post.shooting_week.name %><br><%= link_to '詳細ページ', post_path(post.id) %>';// マーカーにポインターをクリックした時に表示する吹き出しの中身を定義
          var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
            content: contentString // 上で定義した吹き出しの中身を呼び出す（content →大きい白色の吹き出し）
          });
          marker.addListener('click', function() { // マーカーをクリックしたとき
              infoWindow.open(map, marker); // 吹き出しを表示
          });
          })();
      <% end %>
      //複数マーカー ここまで  
  }
</script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
      </script>
    </div>

    <div class='title'>Photograph</div>
    <div class="subtitle" >
    </div>
    <ul class='item-lists'>
      <% @posts.each do |post| %>
        <li class='list'>
         <%= link_to post_path(post.id) do %>
          <div class='post-img-content'>
            <%= image_tag post.image, class: "post-img" %>
              <%# <div class='item-info'> %>
                <div class='post-title-show'>
                  <%= post.title %>
                </div>
              <%# </div> %>
          </div>
        <% end %>
          
        <div class='contributor'>  
          <span><%= link_to post.user.user_name, user_path(post.user) %><br></span>
        </div>
        <div class='like'>  
          <%#= link_to post.user.user_name, user_path(post.user) 行きたいを載せる%> 
          <div id="like_btn_<%= post.id %>">
            <%= render 'likes/like_index', post: post %>
			    </div>
        </div>
      <% end %>
      </li>
    </ul>
  </div> 

</div>
<%= link_to(new_post_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>  </span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>