<div class="post-contents">
  <header class="post-header">
    <%# link_to image_tag('impression spot-logo-color.png' , size: '300x50'), "/" %>

  </header>
  <div class="post-main">
    <h2 class="new-post-title">投稿ページ</h2>
    <%= form_with model: @post, url: posts_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="label-text">
        感動の1枚
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          <%# クリックしてファイルをアップロード %>
        </p>
        <%= f.file_field :image, id:"post-image" %>
      </div>
    </div>

    <div class="new-post">
      <div class="label-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"title-form", id:"title-form", placeholder:"例）新倉山浅間公園", maxlength:"40" %>
      
      <div class="post-explain">
        <div class="label-text">
          感動ポイント
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :impression_point, class:"impression-spot-form", id:"impression-spot-form", placeholder:"例）富士山、五重塔、桜を一目に見ることができます" ,rows:"5" ,maxlength:"1000" %>
      </div>
    </div>

     <div class="post-detail"> 
      <div class="label-text">
        撮影時期
        <span class="indispensable">必須</span>
      </div>
      <div class="form">
        <div class="label-text">
          撮影月
          <span class="indispensable">必須</span>
        </div>  
        <%= f.collection_select(:shooting_month_id, ShootingMonth.all, :id, :name, {}, {class:"select-box", id:"shooting_month"}) %>
         <div class="label-text">
          撮影週  
          <span class="indispensable">必須</span>
        </div> 
        <%= f.collection_select(:shooting_week_id, ShootingWeek.all, :id, :name, {}, {class:"select-box", id:"shooting_week"}) %>
      </div>
    </div>

    <div class="post-detail">
      <div class="label-text">周辺の駐車場（任意）</div>
      <div class="form">
        <div class="label-text">
          駐車場の有無（任意）
        </div>

        <%= f.collection_select(:parking_presence_id, ParkingPresence.all, :id, :name, {}, {class:"select-box", id:"parking_presence"}) %>
        <div class="label-text">
          駐車場代（任意）
        </div>
        <%= f.collection_select(:parking_fee_id, ParkingFee.all, :id, :name, {}, {class:"select-box", id:"parking_fee"}) %>
      </div>
    </div>

    <div class="post-detail">
      <div class="label-text">公共交通機関（任意）</div>
      <div class="form">
        <div class="label-text">
          最寄り駅（任意）
        </div>
        <%= f.text_area :nearest_station, class:"nearest_station-form", id:"nearest_station", placeholder:"例）下吉田駅", rows:"2", maxlength:"40" %>

        <div class="label-text">
          最寄り駅からの徒歩時間（任意）
        </div>
        <%= f.collection_select(:walking_time_id, WalkingTime.all, :id, :name, {}, {class:"select-box", id:"walking_time"}) %>
      </div>
    </div>

    <div class="new-post">
      <div class="label-text">
        撮影地の住所
        <span class="indispensable">必須</span>
        <a class="gmap-link-btn" href='https://www.google.co.jp/maps/@35.6811429216083,139.76699220422807' target="_blank" rel="noopener noreferrer">
           <%= image_tag("icons8-google-maps-48.png", class:"gmap-icon")%>
          Googleマップで検索
        </a>
      </div>  
      <%= f.text_area :shooting_location, class:"shooting_location-form", id:"shooting_location", placeholder:"例）山梨県富士吉田市浅間２−３３５３",rows:"2", maxlength:"40" %>

      <div class="label-text">
        補足情報
      </div>  
      <%= f.text_area :other_information, class:"other-information-form", id:"other_information", placeholder:"例）桜のシーズン(4月上旬〜中旬)に行く方へ
      ・駐車場は有料(1000円)です。園外の周辺には臨時駐車場が設置されます。
      ・臨時駐車場からはシャトルバスが運行します。
      ・6:00〜8:00に展望デッキを利用する際は、事前予約チケット(抽選)の購入が必要です。
      " ,rows:"7" ,maxlength:"1000"%>

    </div>
    <div class="btn-contents">
      <%= f.submit "投稿する", class:"post-btn" %>
      <%= link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>
    <% end %>
</div>